.close-btn,
.toggler {
  cursor: pointer;
}
.toggler {
  margin-right: 2%;
  background-image: url(../img/header/toggler.svg);
  width: 21px;
  height: 16.5px;
  background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
  
  .show-menu {
    transform: translateY(0%) !important;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-100%);
  }

  .overlay a {
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 2.5rem;
  }

  .overlay a:first-child {
    margin-top: 1.2rem;
  }

  .close-btn {
    position: absolute;
    z-index: 2;
    background-image: url(../img/header/toggled.svg);
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    top: 23px;
    right: 6.1%;
  }
}

.posts .owl-stage {
  margin: 0 auto;
}