@import "../css/overlay.css";
/*
 * === FONTS INCLUDE === 
 */
@font-face {
  font-family: AmaticSC-Regular;
  src: url(../fonts/AmaticSC-Regular.ttf);
}

@font-face {
  font-family: HelveticaNeueLTPro-Md;
  src: url(../fonts/HelveticaNeueLTPro-Md.otf);
}

@font-face {
  font-family: HelveticaNeueLTPro-Th;
  src: url(../fonts/HelveticaNeueLTPro-Th.otf);
}

@font-face {
  font-family: HelveticaNeueLTPro-Blk;
  src: url(../fonts/HelveticaNeueLTPro-Blk.otf);
}

@font-face {
  font-family: HelveticaNeueLTPro-Roman;
  src: url(../fonts/HelveticaNeueLTPro-Roman.otf);
}

body {
  overflow-x: hidden;
}

.navbar-brand {
  margin-left: 3.3rem;
}

#navbarNavAltMarkup {
  margin-top: -0.7rem;
}

.logo {
  position: relative;
  z-index: 2;
}

nav {
  background-color: #fff;
}

nav a {
  font-family: AmaticSC-Regular;
  font-weight: normal;
  font-size: 24px;
  color: #000;
}

.navbar-nav .nav-link {
  font-family: AmaticSC-Regular;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 30px;
  padding: 0 !important;
  margin-left: 5rem;
}

.navbar-nav {
  margin-left: 8.3rem;
}

button {
  color: #fff;
}

.book {
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(248, 161, 32, 1) 0%,
    rgba(239, 28, 37, 1) 100%
  );
}

.book h1 {
  font-family: HelveticaNeueLTPro-Md;
  font-style: italic;
  font-size: 30px;
  line-height: 40px;
}

.book p:nth-child(2) {
  font-family: HelveticaNeueLTPro-Th;
  color: #fffefe;
  font-style: italic;
}

.book p:last-child {
  font-family: HelveticaNeueLTPro-Md;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #000;
}

.book button {
  font-family: HelveticaNeueLTPro-Th;
  background-color: #ef1c25;
  font-weight: normal;
  font-size: 16px;
  line-height: 19.2px;
  padding: 0.5rem 2.8rem;
}

.book .circle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.51));
  bottom: -25px;
  left: 50%;
  margin-left: -25px;
}

.book .circle > img {
  margin: 0 !important;
  width: 17px !important;
  height: 9px !important;
  top: 0 !important;
  left: 0 !important;
  position: initial !important;
}

.book img:first-child {
  position: relative;
  z-index: 1;
}

.book img:last-child {
  z-index: 1;
}

.book .background-img {
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-image: url(../img/Home/Simbols\ fonā.png);
}

.description ol {
  list-style-type: none;
}

.description li {
  counter-increment: item;
}

.description li:before {
  content: counter(item) ".";
  font-family: HelveticaNeueLTPro-Roman;
  background: #e1e1e1;
  border-radius: 50%;
  display: inline-block;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #2b2b2b;
}

.description p {
  font-family: HelveticaNeueLTPro-Roman;
  font-weight: normal;
  text-align: center;
  color: #2b2b2b;
}

.description button {
  font-family: HelveticaNeueLTPro-Th;
  font-weight: normal;
  font-size: 16px;
}

.description button,
.practise button,
.contact button {
  background: rgb(239, 28, 37);
  background: linear-gradient(
    45deg,
    rgba(239, 28, 37, 1) 0%,
    rgba(246, 154, 33, 1) 100%
  );
  border: 0;
}

.author {
  position: relative;
  background-color: #000;
}

.author h2,
.author p,
.author span {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.author p {
  font-style: italic;
  word-spacing: -1.7px;
}

.author p:nth-child(2) {
  font-family: HelveticaNeueLTPro-Th;
}

.author p:nth-child(3) {
  font-family: HelveticaNeueLTPro-Blk;
  margin-top: 1.4rem;
}

.author p:nth-child(4) {
  font-family: HelveticaNeueLTPro-Th;
}

.author p,
.author span {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.author .continue {
  float: right;
  font-family: HelveticaNeueLTPro-Md;
}

.author h2 {
  font-weight: normal;
  text-align: left;
}

.author .background-gradient {
  position: absolute;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 52.63%,
    rgba(47, 72, 88, 0) 79.21%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.author .circle,
.practise .circle {
  z-index: 1;
  background: linear-gradient(334.42deg, #ef1c25 13.11%, #f69a22 82.44%);
  color: #fff;
}

.author .circle > span,
.practise .circle > span {
  text-align: center;
  font-weight: normal;
  font-family: HelveticaNeueLTPro-Md;
}

.practise .col-lg-6 {
  padding: 0 0.6rem;
}

.practise h2 {
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  text-align: left;
  color: #ed1b24;
  font-family: HelveticaNeueLTPro-Md;
  margin-top: 4.6rem;
  margin-bottom: 2.4rem;
}

.practise p {
  font-style: italic;
  font-family: HelveticaNeueLTPro-Th;
  line-height: 22px;
}

.practise p:nth-child(2) {
  word-spacing: -1.5px;
}

.practise button {
  font-family: HelveticaNeueLTPro-Th;
}

/*
=== POSTS ===
*/

.posts {
  background: #f8f8f8;
}
.posts .container-fluid {
  padding-top: 3rem;
}

.posts .col-lg-3 {
  padding: 0 0.7rem;
}

.posts .col-lg-3:last-child .card-text {
  line-height: 17.4px;
}

.posts .date {
  padding: 10px;
  background: linear-gradient(
    137deg,
    rgb(248, 141, 12) 27%,
    rgb(229, 0, 25) 79%,
    rgb(229, 0, 25) 100%
  );
  bottom: -23px;
  left: 50%;
  font-family: HelveticaNeueLTPro-Roman;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #fefefe;
  margin-left: -25px;
}

.posts .card {
  border-radius: 0;
}

.posts .card-img-top {
  border-radius: 0;
}
.posts .card-body {
  padding: 0;
}
.posts .card-title {
  text-align: center;
  font-family: HelveticaNeueLTPro-Md;
}

.posts .card-text {
  font-family: HelveticaNeueLTPro-Th;
}

.posts a {
  font-family: HelveticaNeueLTPro-Roman;
  color: #ef1c25;
  border: 1px solid #cccccc;
  font-weight: normal;
}

.owl-next:hover,
.owl-prev:hover {
  background-color: #000 !important;
}

.owl-next:hover span,
.owl-prev:hover span {
  color: #fff !important;
}

.owl-next span,
.owl-prev span {
  position: absolute;
  top: -29.6px;
  color: #000;
}

.owl-next,
.owl-prev {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  border-radius: 50% !important;
  font-size: 50px !important;
  margin: 0 !important;
  width: 30px;
  height: 28px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  padding-bottom: 0.3rem !important;
}

.contact {
  position: relative;
}

.contact .form-group:first-child {
  margin-bottom: 1.7rem;
}

.contact > .container-fluid > .row:last-child > .col-lg-6:last-child form {
  margin-top: 2.8rem;
}

.contact
  > .container-fluid
  > .row:last-child
  > .col-lg-6:last-child
  > form
  > input::placeholder {
  margin-left: 1px;
}

.contact
  > .container-fluid
  > .row:last-child
  > .col-lg-6:last-child
  > form
  button {
  background: #fff !important;
  color: #000;
  height: 26px;
  margin-left: -28.4px;
  position: relative;
  margin-top: 0.1rem;
  padding: 0;
}

.contact .form-group:last-of-type {
  margin-bottom: 0.6rem;
}

.contact .background-image {
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.contact textarea {
  border-radius: 0;
}

.contact input {
  height: 30px;
  border-radius: 0;
}

.contact h2 {
  font-family: AmaticSC-Regular;
  font-size: 60px;
}

.contact p {
  font-family: HelveticaNeueLTPro-Roman;
  font-weight: normal;
}

.contact label {
  font-weight: normal;
  font-size: 16px;
  line-height: 19.2px;
  margin-bottom: 0.3rem;
}

.contact button {
  float: right;
  padding: 0.5rem 2.2rem;
  font-family: HelveticaNeueLTPro-Th;
  font-weight: normal;
  font-size: 16px;
  line-height: 19.2px;
}

footer {
  background-color: #000;
  text-align: center;
  height: 341px;
  color: #fff;
}

footer ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer p {
  font-weight: normal;
  font-size: 11px;
  line-height: 13.2px;
}

@media (max-width: 767.98px) {
  nav {
    height: 3.7rem;
  }

  .logo img {
    width: 102px;
    margin-left: 0.2rem;
  }

  .book {
    height: 875px;
    margin-top: 3.8rem;
  }

  .book h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 3.7rem;
    margin-right: 3%;
    margin-bottom: 1.8rem;
  }

  .book p:nth-child(2) {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 0 0.4rem;
    word-spacing: 1px;
    margin-bottom: 3.3rem;
  }

  .book p:last-child {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding: 0 4px;
    word-spacing: 1.7px;
  }

  .book .col-12:first-child {
    margin-top: 20.6rem;
  }

  .book button {
    margin-bottom: 3.2rem;
  }

  .book img:first-child,
  .book img:last-child {
    left: 50%;
  }

  .book img:first-child {
    margin-left: -9.2rem;
    margin-top: 5.2rem;
    width: 156px;
    position: absolute;
  }

  .book img:last-child {
    width: 170px;
    top: 5.8rem;
    margin-left: -1.6rem;
  }

  .book .background-img {
    top: -5.2rem;
    left: -17%;
    background-size: contain;
  }

  /*
  === DESCRIPTION ===
  */

  .description {
    margin-top: 6.6rem;
    margin-bottom: 5rem;
  }

  .description ol {
    padding: 0;
    margin-top: 4.7rem;
  }

  .description li {
    margin-bottom: 6rem;
    position: relative;
  }

  .description li:nth-child(2) img {
    margin-right: 1.7rem;
  }

  .description li:nth-child(4) img {
    margin-left: 1.7rem;
  }

  .description li:last-child {
    margin-bottom: 0;
  }

  .description li::before {
    position: absolute;
    top: -46px;
    font-size: 15px;
    line-height: 18px;
    padding: 6px 9px;
    left: 50%;
    margin-left: -1rem;
  }

  .description p {
    margin-top: 5rem;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    padding: 0 0.3rem;
  }

  .description button {
    padding: 0.4rem 3.1rem;
    margin-top: 1.8rem;
  }

  /*
  === AUTHOR ===
  */
  .author {
    height: 1014px;
  }

  .author .circle {
    width: 100px;
    height: 100px;
    top: 155px;
    left: 6%;
    left: 50%;
    margin-left: -8.7rem;
  }

  .author .circle > span {
    font-size: 18px;
    line-height: 21px;
    margin-top: 0.5rem;
  }
  .author .background-img-1 {
    width: 396px;
    left: 50%;
    margin-left: -14.5rem;
  }

  .author .background-image-2 {
    background-image: url(../img/Home/Lapiņas\ 1.png);
    background-repeat: no-repeat;
    bottom: 0;
    right: 0px;
    left: 50%;
    top: 75.9%;
    background-size: 611px 350px;
    margin-left: -28.3rem;
  }

  .author h2,
  .author h2 > span {
    font-size: 24px;
    line-height: 29px;
  }

  .author h2 {
    margin-bottom: 2rem;
  }

  .author p:nth-child(2) {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  .author p:nth-child(3) {
    margin-top: 2.4rem;
    font-family: HelveticaNeueLTPro-Th;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    word-spacing: 1.2px;
  }

  .author p:nth-child(3) span {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }

  .author .continue {
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-top: 1.6rem;
  }

  .author .col-12:nth-child(2) {
    margin-top: 19rem;
    padding: 0 1.4rem;
  }

  .author .background-gradient {
    background: linear-gradient(
      359.88deg,
      #000000 89.16%,
      rgba(0, 0, 0, 0) 94.65%
    );
    top: 8rem;
  }

  .author .background-img {
    top: 45px;
    z-index: 1;
    left: 25.3px;
    width: 110px;
  }

  .practise {
    height: 1223.7px;
  }

  .practise p {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding: 0 0.7rem;
  }

  .practise .col-12:nth-child(2) {
    margin-top: 27rem;
  }

  .practise .background-img {
    top: 119.7px;
    left: 50%;
    width: 158.34px;
    margin-left: -140px;
  }

  .practise .background-img-2 {
    top: 127.9px;
    left: 50%;
    width: 135.82px;
    margin-left: 3.9px;
  }

  .practise .circle {
    width: 100px;
    height: 100px;
    left: 50%;
    top: 5rem;
    margin-left: 2.5rem;
  }

  .practise .circle > span {
    font-size: 18px;
    line-height: 21px;
    margin-top: 0.5rem;
  }

  .practise h2 {
    padding: 0 0.7rem;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 5rem;
  }

  .practise p:nth-child(2) {
    word-spacing: -1.1px;
    letter-spacing: 0;
    font-family: HelveticaNeueLTPro-Roman;
    margin-bottom: 1.7rem;
  }

  .practise p:nth-child(3) {
    font-weight: 300;
    margin-bottom: 1.7rem;
    padding: 0 0.6rem;
  }

  .practise button {
    margin: 3.3rem auto;
    display: inherit;
    padding: 0.3rem 2.7rem;
  }

  /* 
=== POSTS ===
*/

  .posts {
    margin-top: 3.1rem;
    padding-top: 1.8rem;
    padding-bottom: 1.1rem;
  }

  .posts .card {
    width: 189px;
    margin: 0 auto;
  }
  .posts .card-body {
    height: 153px;
    text-align: center;
  }

  .card-title {
    margin-bottom: 1.09rem;
    padding: 2.2rem 1rem 0rem 1rem !important;
    font-size: 15px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
  }
  .posts .card-body > a {
    font-size: 14px;
    line-height: 17px;
    padding: 0.2rem 0.6rem;
    position: absolute;
    bottom: 1.3rem;
    left: 50%;
    margin-left: -40px;
  }

  .owl-next,
  .owl-prev {
    top: 7.9rem;
    width: 34px;
    height: 34px;
  }
  .owl-next span,
  .owl-prev span {
    position: absolute;
    top: -28px;
  }

  .owl-next span {
    right: 0.5rem;
  }

  .owl-prev span {
    left: 0.5rem;
  }

  .owl-next {
    right: 2%;
  }

  .owl-prev {
    left: 2%;
  }

  .posts .date {
    padding: 0;
    margin-left: -22px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 17px;
    font-size: 14px;
  }

  .posts .container-fluid {
    padding-top: 0rem;
  }
  /* 
=== CONTACT ===
*/

  .contact {
    height: 864px;
  }

  .contact .container-fluid {
    padding: 0 1.2rem;
  }

  .contact h2 {
    margin-top: 4.6rem;
    font-size: 48px;
    line-height: 61px;
    letter-spacing: 1.1px;
    margin-bottom: 1.5rem;
  }

  .contact p {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 3rem;
  }

  .contact > .container-fluid > .row:last-child > .col-12:last-child p {
    margin-top: 5.1rem;
    text-align: left;
    margin-bottom: -0.8rem;
  }

  .contact > .container-fluid > .row:last-child > .col-12:first-child button {
    display: block;
    margin: 1.9rem auto;
    float: inherit;
    margin-bottom: 0;
  }

  .contact .form-group:first-child {
    margin-bottom: 0.7rem;
  }

  .contact textarea {
    height: 120px;
  }

  .contact .form-group > .row > .col-lg-6:first-child {
    margin-bottom: 0.6rem;
  }

  footer .footer-img {
    margin-top: 3.1rem;
  }

  footer ul {
    margin-top: 1.8rem;
  }

  footer li:first-child {
    margin-left: 1.6rem;
  }

  footer li {
    margin-right: 2rem;
  }

  footer p {
    margin-top: 3.1rem;
    padding: 0px 4.9rem;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    word-spacing: 1.2px;
    letter-spacing: 0.5px;
  }

  .contact
    > .container-fluid
    > .row:last-child
    > .col-lg-6:last-child
    > form
    button {
    margin-left: -31.2px;
    margin-top: -0.3rem;
    height: 23.7px;
  }
}

@media (min-width: 576px) {
  /* 
=== BOOK ===
*/

  /* 
=== DESCRIPTION ===
*/

  /* 
=== AUTHOR ===
*/

  .author {
    height: 773px;
  }

  /* 
=== PRACTISE ===
*/

  /* 
=== POSTS ===
*/

  /* 
=== CONTACT ===
*/
}

@media (min-width: 768px) {
  .logo img {
    margin-top: 0.6rem;
    width: 166px;
  }
  .logo a {
    margin-left: 21.1%;
  }

  .overlay {
    margin-top: -1.5rem;
    margin-left: 6.4%;
  }

  .overlay a {
    margin-right: 28.1%;
  }

  .cart {
    margin-right: 2.1rem;
    margin-top: -1.8rem;
  }
  nav {
    height: 4.4rem;
  }

  .book .container-fluid {
    padding: 0 3.7rem;
  }

  .book {
    margin-top: 3.3rem;
    height: 1077px;
  }

  .book h1 {
    text-align: center;
    margin-right: 0;
    margin-top: 7.2rem;
    margin-bottom: 1.7rem;
  }

  .book p:nth-child(2) {
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    font-weight: 300;
    word-spacing: 1.6px;
  }

  .book p:last-child {
    font-weight: bold;
    padding: 0 0rem;
    font-size: 18px;
    word-spacing: 2.5px;
    line-height: 22px;
    text-align: center;
  }
  .book .col-12:first-child {
    margin-top: 32.1rem;
  }

  .book button {
    margin: 3.3rem auto;
  }

  .book img:first-child,
  .book img:last-child {
    left: 50%;
  }

  .book img:first-child {
    margin-top: 6rem;
    width: 263.6px;
    position: absolute;
    margin-left: -15.5rem;
  }
  .book img:last-child {
    width: 290.9px;
    top: 7.1rem;
    margin-left: -2.5rem;
  }

  .book .background-img {
    top: -9.4rem;
    left: -10.1rem;
    background-size: 45rem;
  }

  /*
  === DESCRIPTION ===
  */

  .description {
    margin-top: 6.5rem;
  }

  .description .row:first-child img {
    width: 109px;
  }

  .description .row:last-child .col-12:nth-child(2) {
    padding: 0;
  }

  .description p {
    font-size: 18px;
    line-height: 21px;
    margin-top: 4.1rem;
    margin-bottom: 4.2rem;
  }

  .description ol {
    padding: 0;
  }

  .description li {
    margin: 0 1.8rem;
  }

  .description li::before {
    padding: 1px 5px;
    margin-right: 5px;
  }

  .description li:first-child > img {
    width: 45px;
  }
  .description li:nth-child(2) > img,
  .description li:nth-child(4) > img {
    width: 101px;
  }

  .description li:nth-child(3) > img {
    width: 115px;
  }

  .description button {
    margin-top: 1.9rem;
    margin-bottom: 6.3rem;
    padding: 0.5rem 3.3rem;
    font-weight: 300;
    line-height: 19.34px;
  }

  /*
  === AUTHOR ===
  */

  .author {
    height: 1104.4px;
  }

  .author .row > .col-12:nth-child(2) {
    margin-top: 33.4rem;
  }

  .author .background-gradient {
    transform: rotate(-90deg);
  }

  .author .background-img-1 {
    top: 0;
    z-index: 0;
    left: -10.4rem;
  }

  .author .background-img {
    top: 45px;
    z-index: 1;
    left: 25.3px;
    width: 110px;
  }
  .author .background-image-2 {
    background-image: url(../img/Home/Lapiņas\ 1.png);
    background-repeat: no-repeat;
    bottom: 0;
    right: 0px;
    left: 0%;
    top: 42.1rem;
  }

  .practise .circle {
    width: 100px;
    height: 100px;
    left: 50%;
    top: 6.3rem;
    margin-left: 7.8rem;
  }

  .author .circle {
    width: 110px;
    height: 109px;
    left: 3.7%;
    top: 2.8rem;
  }

  .author .circle > span,
  .practise .circle > span {
    font-size: 18px;
    line-height: 21px;
    margin-top: 0.5rem;
  }

  .author h2 {
    font-size: 36px;
    line-height: 43px;
    margin-top: 3.2rem;
    margin-bottom: 2.5rem;
    margin-left: 1.7rem;
  }

  .author h2 > span {
    font-size: 36px;
    line-height: 43px;
  }

  .author p {
    margin-left: 1.5rem;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    width: 40.7rem;
  }

  .author p:nth-child(2) {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    word-spacing: 2.5px;
    width: 41.4rem;
  }

  .author p:nth-child(3) {
    margin-top: 2.4rem;
    word-spacing: 1.6px;
  }

  .author p:nth-child(3),
  .author p:nth-child(3) span {
    font-family: HelveticaNeueLTPro-Th;
    font-size: 18px;
    font-weight: 300;
  }

  .author .continue {
    margin-top: 1.3rem;
    margin-right: 1.7rem;
    font-size: 18px;
  }

  /*
  === PRACTISE ===
  */

  .practise .col-lg-6:last-child {
    margin-top: 40.6rem;
  }

  .practise h2 {
    margin-right: 3rem;
    word-spacing: 3.2px;
  }

  .practise p {
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    word-spacing: 1.8px;
  }

  .practise p:nth-child(2) {
    font-family: HelveticaNeueLTPro-Roman;
    word-spacing: -0.7px;
    font-weight: normal;
    margin-bottom: 2.2rem;
  }

  .practise p:nth-child(3) {
    margin-bottom: 1.8rem;
    word-spacing: 2.1px;
    line-height: 21.46px;
  }

  .practise .container-fluid {
    padding: 0 3.4rem;
  }

  .practise .background-img,
  .practise .background-img-2 {
    left: 50%;
  }

  .practise .background-img {
    top: 118.7px;
    margin-left: -13.6rem;
  }

  .practise .background-img-2 {
    top: 123.4px;
    margin-left: 0.2rem;
  }

  .practise button {
    padding: 0.3rem 2.6rem;
    margin-top: 1.7rem;
    margin-right: 0.8rem;
    margin-bottom: 7rem;
    margin: 3.2rem auto;
    display: block;
    margin-bottom: 8.6rem;
  }

  /*
  === POSTS ===
  */

  .owl-next,
  .owl-prev {
    top: 15.3rem;
    width: 33px;
    height: 33px;
    background-color: #fff !important;
  }

  .owl-next span,
  .owl-prev span {
    top: -27.9px;
  }

  .owl-prev span {
    left: 0.5rem;
  }

  .owl-next span {
    right: 0.5rem;
  }

  .owl-prev {
    left: 24.1%;
  }
  .owl-next {
    right: 24.1%;
  }

  .posts {
    padding-top: 3rem;
    padding-bottom: 2.7rem;
  }

  .posts .card {
    width: 281px;
  }

  .posts .container-fluid {
    padding: 0 0;
  }

  .posts .card {
    margin: 0 auto;
  }

  .posts .card-title {
    padding: 2.5rem 0.5rem 0rem 0.5rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 1.4rem;
  }

  .posts .card-text {
    padding: 0 1.1rem;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
  }

  .posts .card-body {
    height: 320px;
  }

  .posts a {
    margin: 0 auto;
    display: table;
    text-align: center;
    float: inherit;
    font-size: 14px;
    line-height: 17px;
    margin-top: 1.4rem;
    padding: 0.2rem 0.5rem;
  }

  .owl-item {
    opacity: 0.3;
    transition: all 0.5s;
  }

  .owl-item.active.center {
    opacity: 1;
    transition: all 0.5s;
  }

  /*
  === CONTACT ===
  */

  .contact {
    height: 854.3px;
    margin-top: 5.85rem;
  }
  .contact p {
    margin-bottom: 3rem;
    text-align: center;
  }

  .contact h2 {
    margin-bottom: 1.6rem;
    letter-spacing: 1px;
  }

  .contact .container-fluid {
    padding: 0px 3.1rem;
  }

  .contact input {
    width: 309.34px;
    height: 30px;
    border-radius: 0;
  }

  .contact .form-group > .row > .col-lg-6:last-child {
    padding: 0 1.5rem;
  }

  .contact .form-group:first-child {
    margin-bottom: 0.7rem;
  }

  .contact textarea {
    width: 100%;
    height: 196px;
  }

  .contact button {
    margin-right: 0;
    margin-top: 1.27rem;
  }

  .contact > .container-fluid > .row:last-child > .col-12:last-child p {
    margin-top: 7.1rem;
    text-align: left;
    margin-bottom: -0.1rem;
  }

  .contact > .container-fluid > .row:last-child > .col-lg-6:last-child form {
    margin-top: 2.9rem;
  }

  .contact p {
    font-size: 18px;
    line-height: 21.46px;
  }

  .contact
    > .container-fluid
    > .row:last-child
    > .col-lg-6:last-child
    > form
    > input {
    width: 281px;
  }

  .contact .background-image {
    background-image: url(../img/Home/contact/Āboli\ 1.png);
    top: 23.2rem;
  }

  /*
  === FOOTER ===
  */

  footer .footer-img {
    margin-top: 3.1rem;
  }

  footer ul {
    margin-top: 1.8rem;
    margin-bottom: 3.8rem;
  }

  footer li:first-child {
    margin-left: 1.6rem;
  }

  footer li {
    margin-right: 2rem;
  }
}

@media (min-width: 992px) {
  nav a {
    letter-spacing: 0.1em;
  }
  .logo img {
    width: auto;
    margin-top: 1.3rem;
  }
  .logo a {
    margin-left: 25.3%;
  }

  .overlay {
    margin-top: -1.4rem;
    margin-left: 12.3%;
  }

  .overlay a {
    margin-right: 40.1%;
  }

  .cart {
    margin-right: 3.2rem;
    margin-top: -1.5rem;
  }

  nav {
    height: 6rem;
  }
  .book {
    height: 643px;
    margin-top: 6rem;
  }
  .book h1 {
    text-align: left;
    margin-top: 4.5rem;
    margin-bottom: 1.9rem;
  }

  .book p:last-child {
    margin-right: 1.5rem;
    letter-spacing: -0.3px;
    margin-left: 0.1rem;
    margin-top: 3.3rem;
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
  }
  .book p:nth-child(2) {
    text-align: justify;
    margin-right: 4.4rem;
    letter-spacing: 0px;
    word-spacing: -3px;
    font-size: 25px;
    line-height: 35px;
    font-weight: normal;
  }
  .book button {
    margin-right: 0;
    margin-left: 0;
    margin-top: 2.6rem;
    margin-bottom: 3.1rem;
  }

  .book img:first-child {
    position: inherit;
    left: 0;
    margin-left: -7rem;
    margin-top: 5.2rem;
    width: 253px;
  }
  .book img:last-child {
    left: 6.5rem;
    top: 6.3rem;
    margin-left: 0;
    width: 268px;
  }

  .book .background-img {
    top: 2.7rem;
    left: 7rem;
    background-size: inherit;
  }

  .book .col-12:first-child {
    margin-top: 0;
  }

  /*
  === DESCRIPTION ===
  */

  .description {
    margin-top: 4.2rem;
  }

  .description .row:first-child img {
    width: auto;
  }

  .description p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 4.1rem;
    margin-bottom: 4rem;
  }

  .description li:first-child > img,
  .description li:nth-child(2) > img,
  .description li:nth-child(3) > img,
  .description li:nth-child(4) > img {
    width: auto;
  }

  .description li {
    margin: 0 1.9rem;
    padding-left: 0.3rem;
  }

  .description li:before {
    padding: 5px 9px;
    margin-right: 1rem;
  }

  .description button {
    margin-top: 3.8rem;
    margin-bottom: 3.9rem;
    padding: 0.5rem 2.6rem;
    font-size: 16px;
    line-height: 19.2px;
  }

  /*
  === AUTHOR ===
  */

  .author {
    height: 548px;
  }

  .author .row > .col-12:nth-child(2) {
    margin-top: 0;
  }
  .author .background-gradient {
    transform: rotate(-180deg);
  }
  .author .background-img-1 {
    top: 0;
    z-index: 0;
    left: -16.9rem;
  }

  .author .background-img {
    top: 46px;
    z-index: 1;
    left: -55.7px;
  }

  .author .background-image-2 {
    background-image: url(../img/Home/Lapiņas.png);
    background-repeat: no-repeat;
    bottom: 0;
    right: 0px;
    left: 54.6%;
    top: 3.9rem;
  }

  .author .circle {
    width: 128px;
    height: 128px;
    left: -2.1%;
    top: 2.7rem;
  }

  .author .circle > span {
    margin-top: 0.7rem;
  }

  .author h2 {
    font-size: 35px;
    line-height: 14px;
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
    margin-left: 1rem;
  }

  .author h2 > span {
    font-size: 25px;
    line-height: 14px;
  }

  .author p:nth-child(2) {
    font-family: HelveticaNeueLTPro-Th;
    word-spacing: -0.7px;
    width: 29.4rem;
    font-size: 16px;
    line-height: 22px;
  }

  .author p:nth-child(3) {
    letter-spacing: -0.1px;
    width: 29.4rem;
    font-family: HelveticaNeueLTPro-Th;
    margin-top: 1.3rem;
    word-spacing: 0px;
  }

  .author p:nth-child(3) > span:first-child {
    letter-spacing: -0.3px;
    font-family: HelveticaNeueLTPro-Md;
    margin-top: 1.4rem;
    font-size: 16px;
    word-spacing: 0;
  }

  .author p:nth-child(3),
  .author p:nth-child(3) span {
    font-size: 16px;
  }

  .author p:nth-child(3) span {
    display: block;
  }

  .author p > span {
    font-weight: 300;
  }

  .author p {
    margin-left: 0.7rem;
    text-align: justify;
    width: 37.9rem;
    font-size: 16px;
  }

  .author .continue {
    margin-top: 0.4rem;
    margin-right: 0rem;
    font-size: 16px;
  }

  /*
  === PRACTISE ===
  */

  .practise .col-lg-6:last-child {
    margin-top: 0;
  }

  .practise p {
    text-align: justify;
    font-size: 16px;
    word-spacing: 0px;
    line-height: 22px;
  }

  .practise p > span {
    display: block;
  }

  .practise p:nth-child(2) {
    word-spacing: 0.7px;
    margin-bottom: 1.5rem;
  }

  .practise p:nth-child(3) {
    margin-bottom: 1.3rem;
    word-spacing: 0;
    line-height: 22px;
  }

  .practise .container-fluid {
    padding: 0 2rem;
  }

  .practise .background-img {
    top: 65px;
    margin-left: -17.3rem;
  }

  .practise .background-img-2 {
    top: 72px;
    margin-left: -3.5rem;
  }

  .practise .circle {
    width: 128px;
    height: 128px;
    top: 2.7rem;
    margin-left: 5.1rem;
  }

  .author .circle > span,
  .practise .circle > span {
    font-size: 22px;
    line-height: 28px;
  }

  .practise .circle > span {
    margin-top: -0.2rem;
  }

  .practise button {
    padding: 0.3rem 2.5rem;
    margin-top: 1.7rem;
    font-family: HelveticaNeueLTPro-Th;
    margin-right: 0.8rem;
    margin-bottom: 0;
    float: right;
  }
  /*
  === POSTS ===
  */

  .owl-prev {
    left: 0.2%;
  }

  .owl-next {
    right: 0.2%;
  }

  .owl-next,
  .owl-prev {
    top: 12.6rem;
    background-color: #f1f1f1 !important;
  }

  .posts .container-fluid {
    padding: 0 1.1rem;
  }

  .posts .card {
    width: 286px;
  }

  .posts .card-title {
    padding: 2.2rem 1.5rem 0rem 1.5rem;
    font-weight: normal;
    font-size: 15.99px;
    line-height: 16.8px;
    margin-bottom: 0.75rem;
  }

  .posts .card-text {
    text-align: justify;
    font-weight: normal;
    font-size: 16px;
    line-height: 17.98px;
    padding: 0 1.3rem;
    letter-spacing: -0.1px;
  }

  .posts .card-body {
    height: 250px;
  }

  .posts a {
    float: right;
    font-size: 11.99px;
    line-height: 14.39px;
    margin-bottom: 1rem;
    margin-right: 1.35rem;
    padding: 0.3rem 0.8rem;
    margin-top: 0.4rem;
  }

  .posts .card {
    margin-left: 0rem;
  }

  .owl-item {
    opacity: 1;
  }

  .owl-item:first-child {
    margin-left: 0.6rem;
  }

  .owl-item.active:last-child {
    margin-right: 0rem !important;
  }

  /*
  === CONTACT ===
  */

  .contact {
    height: 619px;
    margin-top: 5.9rem;
  }

  .contact p {
    margin-bottom: 2.2rem;
    text-align: left;
  }

  .contact h2 {
    margin-bottom: 3rem;
    letter-spacing: 0px;
  }

  .contact .container-fluid {
    padding: 0 5.3rem;
  }

  .contact input {
    width: 100%;
  }

  .contact .form-group > .row > .col-lg-6:last-child {
    padding: 0 1.1rem;
  }

  .contact > .container-fluid > .row:last-child > .col-lg-6:last-child {
    padding: 0 2rem;
  }

  .contact textarea {
    height: 137px;
    margin-top: 0.2rem;
  }

  .contact button {
    margin-top: 0;
    margin-right: 2.4%;
  }

  .contact > .container-fluid > .row:last-child > .col-12:last-child p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact > .container-fluid > .row:last-child > .col-lg-6:last-child form {
    margin-top: 1.4rem;
  }

  .contact .form-group:first-child {
    margin-bottom: 1.5rem;
  }

  .contact .form-group:last-of-type {
    margin-bottom: 0.5rem;
  }

  .contact p {
    font-size: 16px;
    line-height: 19.2px;
  }

  .contact
    > .container-fluid
    > .row:last-child
    > .col-lg-6:last-child
    > form
    > input {
    width: 309px;
  }

  .contact .background-image {
    background-image: url(../img/Home/Āboli.png);
    top: -0.2rem;
  }
}

@media (min-width: 1200px) {
  nav a {
    letter-spacing: 0.1em;
  }
  .logo img {
    width: auto;
    margin-top: 1.3rem;
  }
  .logo a {
    margin-left: 25.3%;
  }

  .overlay {
    margin-top: -1.4rem;
    margin-left: 12.3%;
  }

  .overlay a {
    margin-right: 40.1%;
  }

  .cart {
    margin-right: 3.2rem;
    margin-top: -1.5rem;
  }

  nav {
    height: 6rem;
  }
  .book {
    height: 643px;
    margin-top: 6rem;
  }
  .book h1 {
    text-align: left;
    margin-top: 4.5rem;
    margin-bottom: 1.9rem;
    margin-right: 10.9rem;
  }

  .book p:last-child {
    margin-right: 1.5rem;
    letter-spacing: -0.3px;
    margin-left: 0.1rem;
    margin-top: 3.3rem;
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
  }
  .book p:nth-child(2) {
    text-align: justify;
    margin-right: 9.4rem;
    letter-spacing: 0px;
    word-spacing: -3px;
    font-size: 25px;
    line-height: 35px;
    font-weight: normal;
  }
  .book button {
    margin-right: 0;
    margin-left: 0;
    margin-top: 4.7rem;
    margin-bottom: 3.1rem;
  }
  .book img:first-child,
  .book img:last-child {
    width: auto;
  }
  .book img:first-child {
    position: static;
    margin-left: -7rem;
    margin-top: 0.2rem;
  }
  .book img:last-child {
    left: 10.3rem;
    top: 1.9rem;
    margin-left: 0;
  }

  .book .background-img {
    top: 2.7rem;
    left: 7rem;
    background-size: inherit;
  }

  .book .col-12:first-child {
    margin-top: 0;
  }

  /*
  === DESCRIPTION ===
  */

  .description {
    margin-top: 4.2rem;
  }

  .description .row:first-child img {
    width: auto;
  }

  .description p {
    font-size: 16px;
    line-height: 30px;
    margin-top: 4.1rem;
    margin-bottom: 4rem;
  }
  .description ol {
    padding: 0 4.8rem;
  }
  .description li:first-child > img,
  .description li:nth-child(2) > img,
  .description li:nth-child(3) > img,
  .description li:nth-child(4) > img {
    width: auto;
  }

  .description li {
    margin: 0 1.9rem;
    padding-left: 0.3rem;
  }

  .description li:before {
    padding: 5px 9px;
    margin-right: 1rem;
  }

  .description button {
    margin-top: 3.8rem;
    margin-bottom: 3.9rem;
    padding: 0.5rem 2.6rem;
    font-size: 16px;
    line-height: 19.2px;
  }

  /*
  === AUTHOR ===
  */

  .author {
    height: 548px;
  }

  .author .row > .col-12:nth-child(2) {
    margin-top: 0;
  }
  .author .background-gradient {
    transform: rotate(-180deg);
  }
  .author .background-img-1 {
    top: 0;
    z-index: 0;
    left: -16.9rem;
  }

  .author .background-img {
    top: 46px;
    z-index: 1;
    left: -55.7px;
  }

  .author .background-image-2 {
    background-image: url(../img/Home/Lapiņas.png);
    background-repeat: no-repeat;
    bottom: 0;
    right: 0px;
    left: 54.6%;
    top: 3.9rem;
  }

  .author .circle {
    width: 128px;
    height: 128px;
    left: -10.1%;
    top: 2.7rem;
  }

  .author .circle > span {
    margin-top: 0.7rem;
  }

  .author h2 {
    font-size: 35px;
    line-height: 14px;
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
    margin-left: 1rem;
  }

  .author h2 > span {
    font-size: 25px;
    line-height: 14px;
  }

  .author p:nth-child(2) {
    font-family: HelveticaNeueLTPro-Th;
    word-spacing: -0.7px;
    width: 38.4rem;
    font-size: 16px;
    line-height: 22px;
  }

  .author p:nth-child(3) {
    letter-spacing: -0.1px;
    width: 38.2rem;
    font-family: HelveticaNeueLTPro-Th;
    margin-top: 1.3rem;
    word-spacing: 0px;
  }

  .author p:nth-child(3) > span:first-child {
    letter-spacing: -0.3px;
    font-family: HelveticaNeueLTPro-Md;
    margin-top: 1.4rem;
    font-size: 16px;
    word-spacing: 0;
  }

  .author p:nth-child(3),
  .author p:nth-child(3) span {
    font-size: 16px;
  }

  .author p:nth-child(3) span {
    display: block;
  }

  .author p > span {
    font-weight: 300;
  }

  .author p {
    margin-left: 0.7rem;
    text-align: justify;
    width: 37.9rem;
    font-size: 16px;
  }

  .author .continue {
    margin-top: 0.4rem;
    margin-right: -3.3rem;
    font-size: 16px;
  }

  /*
  === PRACTISE ===
  */

  .practise .container-xl {
    max-width: 1261px;
  }

  .practise h2 {
    margin-right: 7.8rem;
    word-spacing: 0;
    margin-left: 6.7rem;
  }

  .practise p {
    text-align: justify;
    font-size: 16px;
    word-spacing: -0.7px;
    line-height: 22px;
    margin-left: 6.7rem;
    margin-right: 1rem;
  }

  .practise p > span {
    display: block;
  }

  .practise p:nth-child(2) {
    word-spacing: 0.5px;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
  }

  .practise p:nth-child(3) {
    margin-bottom: 1.3rem;
    word-spacing: -0.3px;
    line-height: 22px;
  }

  .practise .container-fluid {
    padding: 0;
  }

  .practise .background-img {
    top: 65px;
    margin-left: -13.6rem;
  }

  .practise .background-img-2 {
    top: 72px;
    margin-left: 0.3rem;
  }

  .practise .circle {
    width: 128px;
    height: 128px;
    top: 2.7rem;
    margin-left: 11rem;
  }

  .author .circle > span,
  .practise .circle > span {
    font-size: 22px;
    line-height: 28px;
  }

  .practise .circle > span {
    margin-top: -0.2rem;
  }

  .practise button {
    padding: 0.3rem 2.5rem;
    margin-top: 1.7rem;
    font-family: HelveticaNeueLTPro-Th;
    margin-right: 1.5rem;
    margin-bottom: 7rem;
    float: right;
  }
  /*
  === POSTS ===
  */

  .owl-prev {
    left: 0.2%;
  }

  .owl-next {
    right: 0.2%;
  }

  .owl-next,
  .owl-prev {
    top: 12.6rem;
    background-color: #f1f1f1 !important;
  }

  .posts .container-fluid {
    padding: 0 1.1rem;
  }

  .posts .card {
    width: 286px;
  }

  .posts .card-title {
    padding: 2.2rem 1.5rem 0rem 1.5rem;
    font-weight: normal;
    font-size: 15.99px;
    line-height: 16.8px;
    margin-bottom: 0.75rem;
  }

  .posts .card-text {
    text-align: justify;
    font-weight: normal;
    font-size: 16px;
    line-height: 17.98px;
    padding: 0 1.3rem;
    letter-spacing: -0.1px;
  }

  .posts .card-body {
    height: 250px;
  }

  .posts a {
    float: right;
    font-size: 11.99px;
    line-height: 14.39px;
    margin-bottom: 1rem;
    margin-right: 1.35rem;
    padding: 0.3rem 0.8rem;
    margin-top: 0.4rem;
  }

  .posts .card {
    margin-left: 0rem;
  }

  .owl-item {
    opacity: 1;
  }

  .owl-item:first-child {
    margin-left: 0.6rem;
  }

  .owl-item.active:last-child {
    margin-right: 0rem !important;
  }

  /*
  === CONTACT ===
  */

  .contact {
    height: 619px;
    margin-top: 5.9rem;
  }

  .contact .container-xl {
    max-width: 1261px;
  }

  .contact .container-fuid {
    padding: 0;
  }

  .contact .row:last-child > .col-12:first-child,
  .contact .row:last-child > .col-12:last-child {
    padding: 0 1.3rem;
  }

  .contact .row:last-child > .col-12:last-child form {
    margin-left: 0.1rem;
  } */

  .contact p {
    margin-bottom: 2.2rem;
    text-align: left;
  }

  .contact h2 {
    margin-bottom: 3rem;
    letter-spacing: 0px;
  }

  form {
    width: 609px;
  }

  .contact .container-fluid {
    padding: 0;
  }

  .contact input {
    width: 285.34px;
  }

  .contact .form-group > .row > .col-lg-6:last-child {
    padding: 0 0.1rem !important;
  }

  .contact > .container-fluid > .row:last-child > .col-lg-6:last-child {
    padding: 0 2rem;
  }

  .contact textarea {
    width: 592px;
    height: 137px;
    margin-top: 0.2rem;
  }

  .contact button {
    margin-top: 0;
    margin-right: 2.4%;
  }

  .contact > .container-fluid > .row:last-child > .col-12:last-child p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact > .container-fluid > .row:last-child > .col-lg-6:last-child form {
    margin-top: 2.6rem;
  }

  .contact .form-group:first-child {
    margin-bottom: 1.5rem;
  }

  .contact .form-group:first-child .col-12:first-child {
    padding: 0 15px;
  }

  .contact .form-group:last-of-type {
    margin-bottom: 0.5rem;
  }

  .contact p {
    font-size: 16px;
    line-height: 19.2px;
  }

  .contact
    > .container-fluid
    > .row:last-child
    > .col-lg-6:last-child
    > form
    > input {
    width: 309px;
  }

  .contact .background-image {
    background-image: url(../img/Home/Āboli.png);
    top: -0.2rem;
  }

  footer .footer-img {
    margin-top: 3.6rem;
  }

  footer ul {
    margin-top: 3.3rem;
    margin-bottom: 2.8rem;
  }

  footer li:first-child {
    margin-left: 2.3rem;
  }

  footer li {
    margin-right: 3rem;
  }
}
